body {
    color: white;
    /*background-color: rgb(30, 30, 43);*/
    background-color: black;
}

.greetingMessage {
    padding-top: 20px;
    font-size: xx-large;
    font-family:Georgia, 'Times New Roman', Times, serif, Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;
}

.subMessage {
    font-size: x-large;
    font-family:Georgia, 'Times New Roman', Times, serif, Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;


}

.addButton {
    font-size: xxx-large;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 40px;
    position: absolute;
    top: 40px;
    right: 10px;
    cursor:pointer;
    border: unset;
    
}

.addButton:hover {
    background-color: rgb(110, 153, 221);
}

.configFolderPopup {
    
    background-color: #e6f3ff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 10px;
    /* border: solid; */
    /* border-color: #010101; */
    visibility: hidden; 
    height: 300px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-80%);


}

.folderName {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-left: 20px;
    margin: 10px auto;
    font-size: 30px;
    border: unset;
    background: #dce9f5;
    color: #486e92;
    border-radius: 100px;
    height: 35px;
    width: 540px;
    margin-top: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

::placeholder {
    color: #486e92;
    text-align:left;
}

.cancelFolderButton {
    position: absolute;
    bottom: 149px;
    left: 90px;
    height: 32px;
    width: 191px;
    border-radius: inherit;
    background-color: #e6f3ff;
    color: #6e99dd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border: solid;
    border-color: #6e99dd;
    cursor: pointer;
}

.addFolderButton {
    position: absolute;
    bottom: 150px;
    right: 90px;
    height: 32px;
    width: 191px;
    border-radius: inherit;
    background-color: rgb(110, 153, 221);
    color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border: unset;
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
    cursor: pointer;

}

.noTaskPromptDiv{
    width: 554px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: unset;
    border-radius: 25px;
}

.prompt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.folderSection {
    height: 400px;
    width: calc(100% - 150px);
    margin-top: 100px;
    border-color: white;
    border: solid;
    border-radius: 10px;
    border-width: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    
}

.newFolder {
    height: 360px;
    width: 360px;
    background-color: rgb(88, 168, 243);
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
    overflow-y: auto;
}

.newFolder::-webkit-scrollbar {
    display: none;
}

.folderNames {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    padding-left: 25px;
}

.addTaskButton {
    border-radius: 50px;
    float: right;
    border: unset;
    height: 30px;
    width: 30px;
    right: 10px;
    margin-right: 20px;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(88, 168, 243);
    position: relative;
    top: -60px;
    cursor: pointer;
}

.task {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    display: block;
    top: -42px;
    right: -60px;
    font-size: 25px;
    background-color: rgb(88 168 243);
    color: white;
    text-align: center;
    height: 40px;
    border-width: 0px;
    border-bottom-width: 4px;
    border-bottom-color: white;
    overflow-y: scroll;
}

.task::placeholder {
    color: white;
}


.checkBox {
    width: 46px;
    height: 30px;

}


